.profile__edit-button {
  align-self: flex-end;
  box-sizing: border-box;
  max-width: 24px;
  max-height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__edit-button {
    max-width: 18px;
    max-height: 18px;
  }
}
