.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  grid-area: edit;
  align-self: flex-end;
  box-sizing: border-box;
  min-width: 24px;
  min-height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__edit-button {
    min-width: 18px;
    min-height: 18px;
  }
}
