.profile__info-text {
  max-width: 336px;
  display: grid;
  grid-template-areas:
    "name edit"
    "about .";
    gap: 14px 18px;
    align-self: center;
}

@media (max-width: 767px) {
  .profile__info-text {
    grid-template-columns: 18px 1fr 18px;
    grid-template-areas:
    ". name edit"
    ". about .";
    margin-bottom: 36px;
    column-gap: 10px;
  }
}
