.profile__info-text {
  max-width: 336px;
  display: grid;
  grid-template-areas:
    "name edit"
    "about .";
    gap: 18px 16px;
}

@media (max-width: 767px) {
  .profile__info-text {
    grid-template-areas:
    ". name edit"
    ". about .";
    margin-bottom: 36px;
    gap: 10px 14px;
  }
}
