.header {
  max-width: 880px;
  display: grid;
  grid-template-rows: minmax(74px, 1fr);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  padding-top: 45px;
}

@media (max-width: 930px) {
  .header {
    grid-template-rows: minmax(56px, 1fr);
    width: 100%;
    padding-top: 28px;
  }
}
