.profile__add-button {
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 50px;
  background-color: #000;
  border: 1px solid #fff;
  cursor: pointer;
}

@media (max-width: 767px) {
  .profile__add-button {
    width: calc(100% - 38px);
  }
}
