.profile__about-me {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  grid-area: about;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 767px) {
  .profile__about-me {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
}
